.body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: calc(100%);
	height: 1000px;
	background-image: url(../img/login_index.PNG);
	background-repeat: no-repeat;
	background-size: cover;
}
.login_index{
	width: 500px;
	height: 350px;
	background-image: linear-gradient(to bottom right,#2db4e5, #49cbe5);
	border: 1px solid white;
	border-radius: calc(5%);
	margin-left: 100px;
	box-shadow: 1px 1px 1px 1px #3CA2E5;
}
.title{
	display: flex;
	flex-direction: row;
	justify-content: center;
	font: "微软雅黑";
	font-size: 25px;
	color: white;
}
.username{
	font: "微软雅黑";
	font-size: 20px;
	font-weight: bold;
	color: white;
	margin-left: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.username input{
	outline-style: none;
	border: 1px solid #ccc; 
	border-radius: 2px;
	padding: 14px 14px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(7, 233, 215, 0.6);
	font-family: "Microsoft soft";
	font-size: 16px;
	font-weight: 500;
	margin-left: 40px;
	width: 300px;
	height: 5px;
}
.password{
	font: "微软雅黑";
	font-size: 20px;
	font-weight: bold;
	color: white;
	margin-left: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.password input{
	outline-style: none;
	border: 1px solid #ccc; 
	border-radius: 2px;
	padding: 14px 14px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(7, 233, 215, 0.6);
	font-family: "Microsoft soft";
	font-size: 16px;
	font-weight: 500;
	margin-left: 60px;
	width: 300px;
	height: 5px;
}
.footbar{
	margin-top: 30px;
	width: 500px;
	display: flex;
	flex-direction: row;
}
.footbar-front{
	display: flex;
	flex-direction: row;
	width: 350px;
}
.footbar-front a{
	font-size: 17px;
	color: darkblue;
}

.login-button {
	margin-left: 10px;
	width: 130px; 
	height: 50px; 
	border-width: 0px; 
	border-radius: 4px; 
	background: #1E90FF; 
	cursor: pointer; 
	outline: none; 
	font-family: Microsoft YaHei; 
	color: white; 
	font-size: 17px; 
}
.login-button:hover { /* 鼠标移入按钮范围时改变颜色 */
	background: #5599FF;
}