<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>在线通讯录</title>
    <script type="text/javascript" src="index.js" xmlns:th="http://www.thymeleaf.org" charset="utf-8" th:inline="javascript"></script>
    <link rel="stylesheet" href="index.css">
    <!--    引入jquery-->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
<div class="main">
    <div class="header">
        <div class="logo">
            <img src="/img/logo.png">
            <div class="text">
                在线通讯录
            </div>
        </div>
        <div class="search">
            <input type="text" class="search_input"/>
            <div class="icon">
            </div>
        </div>
        <div class="login">
            <a href="index" style="text-decoration-line: none">用户名:</a>
            <a href="index" style="text-decoration-line: none" th:text="${session.username}"></a>
            <a href="quit" style="text-decoration-line: none;font-weight: bold">| 退出</a>
        </div>
    </div>
    <div class="depart">
    </div>
    <div class="content">
        <div class="left">
            <ul id="menu">
                <li><a href="">姓名</a></li>
                <li><a href="">电话</a></li>
                <li><a href="">邮箱</a></li>
                <li><a href="">住址</a></li>
                <li><a href="">QQ号</a></li>
            </ul>
            <ul class="list" th:each="item,itemStat:${items}">
                <li><p th:text="${item.name}"></p></li>
                <li><p th:text="${item.phone}"></p></li>
                <li><p th:text="${item.email}"></p></li>
                <li><p th:text="${item.address}"></p></li>
                <li><p th:text="${item.qq}"></p></li>
                <button type="button" class="btn" th:onclick="'javascript:deleteItem('+${itemStat.index}+')'">删除</button>
                <button type="button" class="btn" th:onclick="changeItem([[${itemStat.index}]],[[${item.name}]],[[${item.phone}]],[[${item.email}]],[[${item.address}]],[[${item.qq}]])">修改</button>
            </ul>

        </div>
        <div class="right">
            <div class="add" onclick="displayAddWindow()">
            </div>
        </div>
    </div>
    <div class="footer">

    </div>
<!--    添加表单-->
    <div id="add_list" class="add_css">
        <div style="margin-top: 20px;"></div>
        <form th:action="@{/index}" method="post" onsubmit="return addList();">
            <div class="input_div">
                <p>姓名：</p>
                <input type="text" placeholder="您的姓名" id="name" name="name" autocomplete="off"/>
            </div>
            <div class="input_div">
                <p>电话：</p>
                <input type="number" placeholder="11位电话号码" id="phone" name="phone" autocomplete="off"/>
                <text id="phoneAlert" style="color: #e20000"></text>
            </div>
            <div class="input_div">
                <p>邮箱：</p>
                <input type="email" placeholder="xxx@xxx.com" id="email" name="email" autocomplete="off"/>
            </div>
            <div class="input_div">
                <p>住址：</p>
                <input type="text" placeholder="您的住址" id="address" name="address" autocomplete="off"/>
            </div>
            <div class="input_div">
                <p>QQ：</p>
                <input type="number" placeholder="5-11位qq" id="qq" name="qq" autocomplete="off"/>
            </div>
            <div class="btn_add_wrap">
                <button type="submit" class="btn_add">添加</button>
                <button type="button" class="btn_add" onclick="hideWindow()">关闭</button>
            </div>

        </form>

    </div>
<!--    修改表单-->
    <div id="change_list" class="add_css">
        <div style="margin-top: 20px;"></div>
        <form th:action="@{/changeItem}" method="post" onsubmit="return changeList();">
            <input type="number" style="display: none" id="_id" name="id">
            <div class="input_div">
                <p>姓名：</p>
                <input type="text" placeholder="您的姓名" id="_name" name="name" autocomplete="off"/>
            </div>
            <div class="input_div">
                <p>电话：</p>
                <input type="number" placeholder="11位电话号码" id="_phone" name="phone" autocomplete="off"/>
                <text id="_phoneAlert" style="color: #e20000"></text>
            </div>
            <div class="input_div">
                <p>邮箱：</p>
                <input type="email" placeholder="xxx@xxx.com" id="_email" name="email" autocomplete="off"/>
            </div>
            <div class="input_div">
                <p>住址：</p>
                <input type="text" placeholder="您的住址" id="_address" name="address" autocomplete="off"/>
            </div>
            <div class="input_div">
                <p>QQ：</p>
                <input type="number" placeholder="5-11位qq" id="_qq" name="qq" autocomplete="off"/>
            </div>
            <div class="btn_add_wrap">
                <button type="submit" class="btn_add">保存</button>
                <button type="button" class="btn_add" onclick="hideWindow()">关闭</button>
            </div>

        </form>

    </div>


    <div id="shadow" class="shadow_css">
    </div>
</div>
</body>
</html>

<script>
    $(document).ready(
        //当增加页面 电话输入框变化时 发送ajax请求看是否电话已存在
        $("#phone").bind("input propertychange",function() {
            var phone = $("#phone").val();
            $.ajax({
                url: "/ajax/checkphone",
                type: "POST",
                data: {
                    "phone":phone
                },
                success: function (result) {
                    console.log(result);
                    if(result === "success"){
                        $("#phoneAlert").text("号码已存在")
                    }
                    else{
                        $("#phoneAlert").text("")
                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#phoneAlert").text("")
                    alert('错误！');
                }
            })
        }),
        //当修改页面 电话输入框变化时 发送ajax请求看是否电话已存在
        $("#_phone").bind("input propertychange",function() {
            console.log("789");
            var _phone = $("#_phone").val();
            $.ajax({
                url: "/ajax/checkphone",
                type: "POST",
                data: {
                    "phone":_phone
                },
                success: function (result) {
                    console.log(result);
                    if(result === "success"){
                        $("#_phoneAlert").text("号码已存在")
                    }
                    else{
                        $("#_phoneAlert").text("")
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#_phoneAlert").text("")
                    alert('错误！');
                }
            })
        })
    )

</script>
